In [ ]:
# https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv(r'C:\Users\Arindham Krishna\Desktop\Data Engineer MIT\Data Sets\NYC\AB_NYC_2019.csv')

In [7]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [22]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [10]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
48890    False
48891    False
48892    False
48893    False
48894    False
Length: 48895, dtype: bool

In [12]:
df.duplicated().sum()

0

In [21]:
class DataCleaner:
    def __init__(self, file_path):
        self.df = pd.read_csv(r'C:\Users\Arindham Krishna\Desktop\Data Engineer MIT\Data Sets\NYC\AB_NYC_2019.csv')

    def drop_missing_values(self, columns):
        """Remove rows where specified columns have missing values."""
        self.df.dropna(subset=columns, inplace=True)
        return self

    def remove_duplicates(self):
        """Drop duplicate listings based on 'id'."""
        self.df.drop_duplicates(subset=['id'], inplace=True)
        return self
    
    def get_cleaned_df(self):
        return self.df
    
cleaner = DataCleaner("AB_NYC_2019.csv")
cleaned_df = (
    cleaner.drop_missing_values(['reviews_per_month'])
           .remove_duplicates()
           .get_cleaned_df()
)

cleaned_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129

In [23]:
df.shape

(48895, 16)

In [24]:
cleaned_df.shape

(38843, 16)

In [29]:
import requests

class NewsAPI:
    def __init__(self):
        """Initialize with API base URL and API key"""
        self.base_url = "https://newsapi.org/v2/everything"
        self.api_key = "5869a08a34cc47b6b34af2d39d63eaee"  
        
    def fetch_data(self, keyword):
        """Fetch news data based on a keyword"""
        params = {
            "q": keyword,  # User keyword
            "apiKey": self.api_key  # API Key added in parameters
        }

        response = requests.get(self.base_url, params=params)

        if response.status_code == 200:
            raw_data = response.json()  
            return self.normalized_data(raw_data)
        else:
            print(f"Error! Check Status Code: {response.status_code}")
            return None
        
    def normalized_data(self,raw_data):
        self.df = pd.json_normalize(raw_data, 'articles', sep = '_')
        return self.df


news_extractor = NewsAPI()
data = news_extractor.fetch_data("Trump")  

data

,author,title,description,url,urlToImage,publishedAt,content,source_id,source_name
0,Mariella Moon,Trump administration reportedly eyes renegotia...,The recipients of the US government's CHIPS an...,https://consent.yahoo.com/v2/collectConsent?se...,None,2025-02-14T14:30:35Z,"If you click 'Accept all', we and our partners...",None,Yahoo Entertainment
1,Kate Yoder,The US Solar Power Industry Is Trying to Rebra...,As Donald Trump rages against renewable energy...,https://www.wired.com/story/the-us-solar-power...,https://media.wired.com/photos/67c06ecef4badce...,2025-03-01T12:00:00Z,This story originally appeared on Grist and is...,wired,Wired
2,Victoria Bekiempis,US Judge Extends Order to Block DOGE From Trea...,A lawyer for the Trump administration couldn't...,https://www.wired.com/story/doge-treasury-depa...,https://media.wired.com/photos/67afa42f7dee8ee...,2025-02-14T21:49:08Z,A Manhattan Federal Court judge on Friday exte...,wired,Wired
3,Kate Knibbs,This USAID Program Made Food Aid More Efficien...,The Famine Early Warning Systems Network is on...,https://www.wired.com/story/usaid-famine-syste...,https://media.wired.com/photos/67a51afefdef54c...,2025-02-19T18:58:54Z,Chemonics spokesperson Payal Chandiramani says...,wired,Wired
4,Justine Calma,Donald Trump wants to delete â€˜climateâ€™ from fe...,The Trump administration has been hacking away...,https://www.theverge.com/news/623644/trump-cli...,https://platform.theverge.com/wp-content/uploa...,2025-03-04T16:05:36Z,This online database documents changes to clim...,the-verge,The Verge
...,...,...,...,...,...,...,...,...,...
90,Justine Calma,The US faces â€˜devastatingâ€™ losses for weather ...,The federal agency that produces weather forec...,https://www.theverge.com/news/622990/trump-dog...,https://platform.theverge.com/wp-content/uploa...,2025-03-03T17:25:04Z,Federal employees are speaking out after the T...,the-verge,The Verge
91,None,'It never should have happened' Americans frus...,American voters expressed frustration at one o...,https://www.bbc.com/news/articles/cvg17jmm5vxo,https://ichef.bbci.co.uk/news/1024/branded_new...,2025-03-03T19:39:07Z,Ana Faguy &amp; Max Matza\r\nThe shocking blow...,None,BBC News
92,None,John Simpson: 2025 could be year for the histo...,"Like 1968 or 1989, this could be a year when t...",https://www.bbc.com/news/articles/cd0ng4eyr3xo,https://ichef.bbci.co.uk/news/1024/branded_new...,2025-02-23T12:17:49Z,"John Simpson\r\nJust occasionally, there are y...",None,BBC News
93,None,Trump calls Zelensky a 'dictator' as rift betw...,The comments come as the latest salvo in a pub...,https://www.bbc.com/news/articles/cjev2j70v19o,https://ichef.bbci.co.uk/news/1024/branded_new...,2025-02-19T20:52:57Z,Trump arriving in Miami on Air Force One \r\nP...,None,BBC News
94,None,Trump says he is 'just getting started' in spe...,"The US president celebrated Elon Musk's Doge, ...",https://www.bbc.com/news/articles/ckgn3v0rdx2o,https://ichef.bbci.co.uk/news/1024/branded_new...,2025-03-05T05:46:09Z,Anthony Zurcher\r\nSix weeks into his presiden...,None,BBC News

In [ ]:
# import os
# self.api_key = os.getenv() #Environment Safe variable for API key assigning.